sources/**

# Игнорировать всё в папке reports
reports/**
# Не игнорировать папки (иначе git не сможет найти внутри них нужные файлы)
!reports/**/
# Не игнорировать файлы re-report.md в любых вложенных папках внутри reports
!reports/**/re-report.md

_bmad/**
_templates/**