sources/**

# Игнорировать всё в папке reports
reports/**
# Не игнорировать папки (иначе git не сможет найти внутри них нужные файлы)
!reports/**/
# Не игнорировать файлы README.md в любых вложенных папках внутри reports
!reports/**/README.md

_bmad/**
_templates/**
.exe
node_modules/**